.dailyTemp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 1px solid #31CABC;
}
.dailyForecast p {
    font-family: monospace;
    font-weight: 700;
}
.minTemp {
    color: #313131;
    opacity: 0.8;
}